@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color:rgba(215, 215, 215) ;
    font-family: "Work Sans"; 
}
a{
    text-decoration: none;
}
body::-webkit-scrollbar {
    display: none;
}
.cont{
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;

}
.imagen-fondo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 1250px;
    object-fit: cover; 
    opacity: 0.2; 
    z-index: 0;

}
.contenedor{
    overflow: hidden;
    position: relative;
    width: 95%;
    min-height: 87vh;
    background-color: rgba(247, 247, 247);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.596);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.308);
    border: 2px solid black;
}

.contenedor__nav{
    position: relative; 
    z-index: 3; 
    display: flex;
    justify-content: center;
    padding-block: 2rem;
}

.nav__lista{
    gap: 1rem;
    display: flex;
    list-style: none;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0 ;
    padding: 0;
}

.lista__li img{
    height: 35px;
    width: 35px;
    transition: 0.5s;
}

.lista__li img:hover{
    transform: scale(1.1);
}

.contenedor__div{
    text-align: center;
    position: relative; 
    z-index: 3; 
    text-align: center;
    width: 25rem;
    display: flex;
    width: 100%;
    height: 75%;
    justify-content: center;
    align-items: center;
}
.div__presentacion{
    text-align: center;
    width: 50%;
    height: auto;
    max-width: 30rem;
}
.presentacion__titulo{
    color: rgba(190, 190, 190);
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    animation: colorTitulo 5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    transition: 2s;
}

@keyframes colorTitulo {
    from{
        color: rgba(190, 190, 190);
    }
    to{
       color : rgba(32, 32, 32);
    }
}

.presentacion__subtitulo{
    font-size: 2.8rem;
    font-weight: 500;
    color:rgba(32, 32, 32);
    margin: 0;
    animation: colorSubtitulo 5s;
     animation-iteration-count:infinite;
    animation-direction: alternate;
    transition: 2s;
}


@keyframes colorSubtitulo {
     from{
        color: rgba(32, 32, 32);
    }
    to{
       color : rgba(190, 190, 190);
    }
}

.presentacion_p{
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

.presentacion_button{
    border: none;
    background-color: rgba(30, 30, 30);
    color: rgb(216, 215, 215);
    font-size: 1.2rem;
    font-weight: 100;
    border-radius: 30px;
    padding-block: 0.7rem;
    padding-inline: 1rem;
    transition: 1.2s;
}

.presentacion_button:hover{
    outline: 1px solid rgba(30, 30, 30);
    background-color:  rgb(216, 215, 215);
    color: rgba(30, 30, 30);
}

.main__title {
    line-height: 1rem;
    text-align: center;
    font-family: "Changa One";
    font-size: 13rem;      
    font-weight: 900;
    color : rgba(32, 32, 32); 
    transition: 1.5s;
    letter-spacing: 10px;
}

.cuadrados{
    margin-inline: 1rem;
    gap: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cuadrados__cont{
    display:flex;
    padding: 1rem;
    height: 10rem;
    border-radius: 10px ;
    border: 1px solid black;
    transition: 0.6s;
}

.cont_img{
    height: 150px;
}

.cont__video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
    border-radius: 10px ;
}

.colorHTML {
    background-color: rgb(226, 88, 45);
}
.colorCSS{
    background-color: rgb(67, 144, 207);
}
.colorGitHub{
    background-color: rgb(74, 83, 138);
}
.colorGit{
    background-color: rgb(255, 255, 255);
}
.colorMysql{
    background-color: rgb(172, 206, 233);
}
.colorJava{
    background-color: rgba(255, 205, 116);
}

.cuadrados__cont.colorHTML:hover{
    box-shadow: 0px 0px 50px rgb(226, 87, 45);
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.01);
    .cont__video{
        opacity: 0.5;
        z-index: -1;
        }
}

.cuadrados__cont.colorCSS:hover{
    box-shadow: 0px 0px 50px rgb(67, 144, 207);
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.01);
    .cont__video{
        opacity: 0.5;
        z-index: -1;
        }
}
.cuadrados__cont.colorGitHub:hover{
    box-shadow: 0px 0px 50px rgb(74, 83, 138);
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.01);
    .cont__video{
        opacity: 0.5;
        z-index: -1;
        }
}
.cuadrados__cont.colorGit:hover{
    box-shadow: 0px 0px 50px rgb(255, 255, 255);
    transform: scale(1.01);
}
.cuadrados__cont.colorMysql:hover{
    box-shadow: 0px 0px 50px rgb(172, 206, 233);
    transform: scale(1.01);
}
.cuadrados__cont.colorJava:hover{
    box-shadow: 0px 0px 50px rgba(255, 205, 116);
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.01);
    .cont__video{
        opacity: 0.5;
        z-index: -1;
        }
}

@media (max-width: 720px) {
    .main__title {
        font-size: 8rem;
    }
    .presentacion__titulo{
        font-size: 2.5rem;
    }
    .presentacion__subtitulo{
        font-size: 2.3rem;
        margin-bottom: 2rem;
    }
    .presentacion_p{
        font-size: 1.1rem;
    }
}

.exp__casilla{
    padding: 1rem;
    background-color: rgba(30, 30, 30);
    color: rgb(216, 215, 215);
    margin-bottom: 2rem;
    text-align: center;
    padding-bottom: 3rem;
}

.casilla__titulo{
    margin-block: 0;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.casilla__cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cont__div{
    font-size: 1.2rem;
    padding: 1rem;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.casilla__img{
    min-width: 400px;
    width: 30%;
    box-shadow: 0px 0px 30px rgba(175, 175, 175, 0.233);
    border-radius: 10px;
}

.cont__list{
    color: black;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}

.cont__elemento{
    transition: 0.6s;
    padding-block: 0.3rem;
    padding-inline: 1rem;
    border-radius: 30px;
}

.cont__link{
    color:  rgb(67, 144, 207);
}

.cont__list .cont__elemento:hover{
    transform: scale(1.1);
}
